@page "/Clerk/{id}"
@model ClerkPageModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Clerk Page";
}

<div>
    <h2>Clients management</h2>
    <div>
        <form method="post" asp-page-handler="AddCustomer">
            <div class="form-group">
                <label for="customerName">Client name</label>
                <input type="text" class="form-control" id="customerName" name="NewCustomer.Name">
            </div>
            <div class="form-group">
                <label for="customerAddress">Address</label>
                <input type="text" class="form-control" id="customerAddress" name="NewCustomer.Address">
            </div>
            <div class="form-group">
                <label for="customerEmail">Email</label>
                <input type="text" class="form-control" id="customerEmail" name="NewCustomer.Email">
            </div>
            <div class="form-group">
                <label for="customerPhone">Phone number</label>
                <input type="text" class="form-control" id="customerPhone" name="NewCustomer.PhoneNumber">
            </div>
            <button type="submit" class="btn btn-primary">Add client</button>
        </form>
    </div>

    <div>
        <h3>Clients list</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone number</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.PhoneNumber</td>
                    <td>
                        <a asp-page="/Order" asp-route-clerkid="@RouteData.Values["id"]" asp-route-customerid="@customer.Id" class="btn btn-primary">Order</a>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="DeleteCustomer" asp-route-customerId="@customer.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="EditCustomer" asp-route-customerId="@customer.Id">
                            <input type="hidden" asp-for="EditingCustomerId" value="@customer.Id" />
                            <button type="submit" class="btn btn-primary">Modify</button>
                        </form>
                    </td>
                </tr>
            
                @if (Model.EditingCustomerId == customer.Id)
                {
                    <form method="post" asp-page-handler="SaveCustomer">
                        <tr>
                            <td>
                                <input type="text" class="form-control" asp-for="@customer.Name" name="EditedCustomer.Name" />
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="@customer.Address" name="EditedCustomer.Address" />
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="@customer.PhoneNumber" name="EditedCustomer.PhoneNumber" />
                            </td>
                            <td>
                                <input type="hidden" value="@customer.Email" name="EditedCustomer.Email" />
                                <input type="hidden" name="EditingCustomerId" value="@Model.EditingCustomerId" />
                                <button type="submit" class="btn btn-success">Save</button>
                            </td>
                        </tr>
                    </form>
                }
            }
            </tbody>
        </table>
    </div>
</div>