@page
@model StatsPageModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Statistics";
}

<header>
    <h1>Statistics</h1>
</header>

<div>
    <p>Average order prices : @Model.AvgOrders €</p>
    <p>Average Accounts Receivable : @Model.AvgAccountsReceivable € </p>
</div>

<div>
    <h3>Number of orders by Deliverer</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Deliverer Name</th>
                <th>Number of Orders</th>
                <th>Total Revenue of Orders</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deliverer in Model.DelivererOrders)
            {
                <tr>
                <td>@deliverer.Name</td>
                <td>@deliverer.Orders.Count</td>
                <td>@deliverer.Orders.Sum(order => order.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h3>Number of orders by Clerk</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Clerk Name</th>
            <th>Number of Orders</th>
            <th>Total Revenue of Orders</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var clerk in Model.ClerkOrders)
        {
            <tr>
                <td>@clerk.Name</td>
                <td>@clerk.Orders.Count</td>
                <td>@clerk.Orders.Sum(order => order.Price)</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>Today Orders</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Order Id</th>
            <th>Customer Id</th>
            <th>Clerk Id</th>
            <th>Deliverer Id</th>
            <th>Order Date</th>
            <th>Order Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.OrdersByDateToday)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer.Id</td>
                <td>@order.Clerk.Id</td>
                <td>@order.Deliverer?.Id</td>
                <td>@order.OrderDate</td>
                <td>@order.OrderStatus</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>Yesterday Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer Id</th>
                <th>Clerk Id</th>
                <th>Deliverer Id</th>
                <th>Order Date</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrdersByDateYesterday)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Customer.Id</td>
                    <td>@order.Clerk.Id</td>
                    <td>@order.Deliverer?.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@order.OrderStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h3>+2days Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer Id</th>
                <th>Clerk Id</th>
                <th>Deliverer Id</th>
                <th>Order Date</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrdersByDate2Days)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Customer.Id</td>
                    <td>@order.Clerk.Id</td>
                    <td>@order.Deliverer?.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@order.OrderStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles
{
    <style>
        p{
            font-family: Arial, sans-serif;
            font-size: 25px;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 40px;
            margin: 0;
            text-align: center;
        }

        h3 {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #333;
            color: #000000;
        }
    </style>
}
